@import url('https://fonts.googleapis.com/css?family=Dosis:400,500,600,700|Open+Sans+Condensed:300,300i,700&display=swap');

body{
  background-color: #f6f6f6;
  font-family: "Open Sans Condensed", sans-serif;
  font-size: 30px;

}

h1{
  font-family: "Dosis", sans-serif;
  color: black;
  text-align: center;
  margin: 80px;

}

h2{
  margin-left: 30px;
  color: blue;
}


img{
  width: 1200px;
  margin: auto;
}
